* {
  margin: 0;
  padding: 0;
}
#pdf {
  width: 100%;
  max-width: 1240px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.outer {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  border: 2px solid black;
}
.center_table {
  display: flex;
  justify-content: center;
  align-items: center;
}
table.billTable,
th.billTh,
td.billTd,
tr.billTr {
  text-align: left;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 12px;
  font-weight: 500;
}
table.billTable {
  width: 100%;
}
.table_row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10px;
}
td.billTd {
  padding: 3px 5px;
}
.total_cost_section {
  display: flex;
  justify-content: space-between;
}
.set_height_total_val {
  height: 120px;
}
.set_height_centre_bill {
  height: 15vh;
}
.bank_detail {
  margin-top: 10px;
  font-size: 12px;
}
.account_number_header {
  display: flex;
  justify-content: space-between;
}
.fssai {
  margin-bottom: 10px;
}
.padd5 {
  padding: 5px 0px;
}
.total_cost_calc table {
  border: none !important;
  width: 200%;
}
.total_cost_calc tr {
  border: none !important;
}
.total_cost_calc th {
  border: none !important;
}
.total_cost_calc td {
  text-align: left;
  border: none !important;
}
.company_detail {
  display: flex;
  padding: 2px 0px;
  width: 100%;
  margin-left: 10px;
}
.main_bill th {
  width: 20px !important;
}
.company_address {
  border: none !important;
}
.no_border {
  border: 0px !important;
}
.IFSC_code {
  margin-right: 20px;
}
.pan_container {
  display: flex;
  justify-content: space-between;
}
.micr {
  margin-right: 20px;
}
.center_bold_element {
  text-align: center !important;
  font-weight: 700 !important;
}
.billing_address {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 5px;
}
.empty {
  height: 10px;
}
.bill_footer {
  width: 100%;
  border: 1px solid black;
  text-align: center;
}
